<!-- <div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
    </p>
</div> -->

<div class="app-main__inner" style="height: 100% !important;">

    <div class="row" style="width: 100% !important;">
        <div class="main-card mb-3 card" style="width: 100% !important;">
            <div class="card-body">
                <div class="jumbotron text-center">
                    <h1 class="display-3">Thank You!</h1>
                    <p class="lead">Your test has been <strong>submitted</strong> in our database.</p>
                    <hr>
                    <p>
                        Thank you for giving your assessment.
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-sm" routerLink="/login" role="button">Continue to homepage</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
