<div class="app-main__inner" style="height: 100% !important;">


    <div class="row" style="width: 100% !important;">
        <div class="main-card mb-3 card" style="width: 100% !important;">
            <div class="card-body">
                <h5 class="card-title">Create User</h5>
                <div *ngIf="showSuccessStatus && showSuccessStatus == true">
                    <div class="alert alert-primary" role="alert">
                        <strong>{{showSuccessMessage}}</strong>
                    </div>
                </div>

                <div *ngIf="showErrorStatus && showErrorStatus == true">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{showErrorMessage}}</strong>
                    </div>
                </div>

                <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                    <p style="color: white">Please Wait. </p>
                </ngx-spinner>


                <form class="" [formGroup]="userForm" (ngSubmit)="onSubmit()">

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label>User Name</label>
                                <input placeholder="Enter User Name" formControlName="userName" type="text" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                    <div *ngIf="f.userName.errors.required">User Name is required</div>
                                    <!-- <div *ngIf="f.username.errors.cannotContainSpace">User Name can not contain space.</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label>Email Address</label>
                                <input placeholder="Enter Email Address" formControlName="email" type="text" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email Address is required</div>
                                    <div *ngIf="f.email.errors.email">Must be in Email format</div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-row ">

                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label>Password</label>
                                <input placeholder="Enter Password" formControlName="password" type="password" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Minimun 6 characters are required</div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="position-relative form-group "><label>Role Name </label>
                                <select class="mb-2 form-control" (change)="onChange($event.target.value)" formControlName="roleId" [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }">
                                <option value="">Select</option>
                                <option *ngFor="let hero of roleList;"  value={{hero.id}}> {{hero.name | titlecase}} </option>
                                </select>
                                <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
                                    <div *ngIf="f.roleId.errors.required">Role Name is required</div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="form-row" *ngIf="showCategory">
                        <div class="col-md-6">
                            <div class="position-relative form-group "><label>Category Name</label>
                                <select class="mb-2 form-control" aria-placeholder="Enter category Name" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                                <option value="" selected>Select</option>
                                <option *ngFor="let item of categoryList" value={{item.categoryId}}>{{item.name | titlecase}}</option>
                                </select>
                                <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                                    <div *ngIf="f.categoryId.errors.required">Category Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="mt-2 btn btn-primary ">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>