<div style="width: 60%;margin: auto;">

    <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
        <span class="login100-form-title p-b-34">
        	<h1>Welcome to Arpatech</h1>
      	</span>

        <div class="alert alert-danger" *ngIf="submitted && f.email.errors" role="alert" style="width: 100%;">
            <div *ngIf="f.email.errors.required">Email Address is required</div>
            <div *ngIf="f.email.errors.email">Must be in Email Address format </div>
        </div>
        <div class="alert alert-success" *ngIf="success" role="alert" style="width: 100%;">
            Kindly check your email for Reset password link.
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Please Check</a>
        </div>


        <span class="login100-form-title p-b-34">
			Forgot Password?
		</span>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user email" style="width:100%">
            <input class="input100" formControlName="email" type="email" placeholder="Enter User Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
			Submit
			</button>
        </div>
        <div class="w-full text-center p-t-27 p-b-239">
            <span class="txt1">
				Not a user?
			</span>
            <a routerLink="/login" class="txt2">
				Login
			</a>
        </div>
    </form>
</div>
