<div class="app-main__inner" style="height: 100% !important;">


    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>

    <div class="row" style="width: 100% !important;">
        <div class="main-card mb-3 card" style="width: 100% !important; min-height: 100% !important;">
            <div class="card-body">
                <div class="row" style="margin-top: 16px;margin-bottom: 16px;">
                    <div class="col-md-6">
                        <h5 class="card-title">Category</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end">
                            <button type="button" [routerLink]="['/admin/category/create']" class="btn btn-success btn-lg btn">Create</button>
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="showSuccessStatus && showSuccessStatus == true">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{showSuccessMessage}}</strong>
                    </div>
                </div>

                <div *ngIf="showErrorStatus && showErrorStatus == true">
                    <div class="alert alert-warning" role="alert">
                        <strong>{{showErrorMessage}}</strong>
                    </div>
                </div> -->
                <p-table #dt [columns]="cols" [value]="categoryList" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th>Action</th>
                        </tr>
                        <!-- <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                            </th>
                        </!-->
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                            <td>
                                <div class="btn-toolbar">
                                    <button class="btn btn-success" type="button" style="margin-right: .5em">Edit </button>
                                    <button class="btn btn-danger" type="button">Delete </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>